/* AdminDashboard.css */
  
  .dashboard-content {
    padding: 20px;
    position: relative;
    /* Optionally, adjust the width if needed */
    width: 100%;
  }
  
  .exit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    background-color: #00203F; /* Sailor Blue */
    color: #ADEFD1;            /* Mint */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .exit-btn:hover {
    background-color: #ADEFD1;
    color: #00203F;
    transform: scale(1.05);
  }
  
  /* Styles for the navigation menu */
  .admin-nav {
    margin: 80px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00203F;
    padding: 10px;
    border-radius: 10px;
  }
  
  .admin-nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .admin-nav a:hover {
    background-color: #ADEFD1;
    color: #00203F;
  }
  
  .admin-nav a.active {
    background-color: #00203F;
    color: #ADEFD1;
  }
  